block pageConfig
  -
    let title = ''
    let pageUrl = ''
    let bodyClass = []

doctype html
html(lang='en')
  head
    include ./head.pug

  body.relative.bg-primary.font-primary.text-white-100(class=bodyClass)
    .relative.flex.flex-col.w-full.overflow-hidden.min-h-screen
      block page
