// Colors
$btn-bg-color: #2563eb;
$btn-hover-bg-color: darken($btn-bg-color, 5%);

// Paddings
$btn-padding-vertical: 0.75rem; // 12px
$btn-padding-horizontal: 1.5rem; // 24px

// Other
$btn-base-border-radius: 5px;
