// Main-navigation styles
$nav-background: #111827;
$nav-text-color: #f9fafb;
$nav-text-color-hover: #1d4ed8;
$nav-opened-text-color: #f9fafb;
$nav-opened-font-size: 18px;

// Burger styles
$burger-color: #f9fafb;
$burger-color-active: #f9fafb;
